.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.col ul li {
    font-size: 0.9rem;
    list-style: none;
    margin: 5px 0;
}

.col ul li .footer-link {
    text-decoration: none;
    color: var(--primary-brown);
}

.footer-icons {
    margin: 0 10px;
}