.discord-add-but {
    color: white;
    padding: 4px 10px;
    border: 1px solid white;
    border-radius: 10px;
    font-size: 1.2rem;
    max-width: 90%;
}

.discord-add-but:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

.discord-disabled-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;

}


.chat-message--- {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 4px 0;
}


.chat-msg-wrapper-left {
    margin-left: 3px;
}

.chat-msg-wrapper-right {
    margin-right: 3px;
}

.chat-message {
    margin: 4px;
    /* padding: 0 10px; */
    padding: 0 10px;

}

.message-details {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;

}

.message-details-name {
    font-size: 1rem;
    font-weight: 500;
    color: var(--primary-brown);
    margin-right: 10px;
}

.message-details-time {
    font-size: 0.8rem;
    font-weight: 400;
    padding-top: 6px;
    color: var(--offwhite);
}

.message-txt {
    /* background-color: var(--bgtransparentmax); */
    border-radius: 10px 0 10px 10px;
    /* padding: 5px 10px; */
    font-size: 1rem;
    color: var(--white);
    max-width: 100%;
    word-wrap: break-word;

}

.message-txt--left {
    background-color: var(--black);
    border-radius: 0 10px 10px 10px;
    /* padding: 5px 10px; */
    border: 1px solid rgb(81, 77, 77);
    font-size: 1rem;
    color: var(--white);
    max-width: 100%;
    word-wrap: break-word;

}

.message-txt--right {
    background-color: var(--black);
    border-radius: 10px 0 10px 10px;
    /* padding: 5px 10px; */
    border: 1px solid rgb(81, 77, 77);
    font-size: 1rem;
    color: var(--white);
    max-width: 100%;
    word-wrap: break-word;

}

.user-message--- {
    display: flex;
    flex-direction: row;
    /* margin: 10px; */
    justify-content: flex-end;
}

.chat-icon-container {
    /* margin: 10px 10px; */
    min-width: 50px;
    max-width: 50px;
    max-height: 50px;
    min-height: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.msg {
    font-size: 0.9rem;
    margin-bottom: 2px;
}

.chat-icon-- {
    width: 100%;
    height: 100%;
}

.chat-container-left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.chat-container-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    /* padding: 10px; */
    width: 100%;
    /* margin: 10px 0; */
}