
.side-bar-parent ul {
    list-style: none;
    padding-left: 0px;

}



li{
    margin: 0;
    width : 200%;
    margin : auto;
    margin-bottom : 0.8rem;
    /* margin: 1pxrem; */

}


.profile-dashboard-heading{
    /* margin : auto; */
    padding-top : 1.5rem;
    padding-bottom: 2rem;
    padding-left : 2.5rem;
    font-size: 1.2rem;
    font-weight:200;
}

.prominent_letter{
   color : #c47741;
}