.requests-page-body {
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    height: 90vh;
    /* background-color: blue; */
    /* overflow: scroll; */
}

.request-search-results {
    /* background-color: pink; */
    display: flex;
    flex-direction: row;
    height: 80%;
    /* background-color: pink; */
    width: 100%;
    justify-content: space-around;
    /* overflow: scroll; */
}

.requests-container {
    width: 30%;
    /* margin-top: 20px; */
    background-color: rgba(43, 42, 42, 0.762);
    border: 1px solid rgba(163, 155, 155, 0.754);
    height: 100%;
    overflow: hidden;
    transform: 0.5s ease-in-out;
}

@media (max-width: 1200px) {
    .requests-container {
        width: 40%;
    }

}

@media (max-width: 900px) {

    .requests-page-body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        height: 90vh;
    }
    .request-search-results {
        /* flex-direction: column; */
        display: block;
        align-items: center;
        overflow: scroll;

    }

    .requests-container {
        margin: 20px;
        width: 90%;
        height: 100%;

    }

}

.requests-tile-header {
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px;
    color: var(--primary-brown);
}

.requests-tile-body {
    height: 90%;
    overflow: scroll;
    z-index: 10;
}

.request-request {
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
    border: 1px solid rgba(122, 119, 119, 0.754);
    background-color: rgba(43, 42, 42, 0.762);
    border-radius: 5px;
}

.request-request-img {
    width: 10%;
    min-width: 50px;
    height: auto;
    margin-right: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.request-request-img-img {
    border-radius: 50%;
    min-width: 50px;
    width: 100%;
    height: auto;
}

.request-request-details {
    display: flex;
    flex-direction: column;
    overflow-x: scroll;
    font-size: 0.9rem;
    width: 100%;
}

.request-user-name {
    font-size: 1.2rem;
    font-weight: bold;
    width: 100%;
    color: rgba(255, 255, 255, 0.871);
}

.request-user-email {
    width: 100%;
    color: rgba(159, 150, 138, 0.871);
}

.request-button-accept {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    background-color: rgb(63, 149, 63);
    border: 1px solid rgba(65, 63, 63, 0.754);
    color: white;
    border-radius: 3px;
    padding: 5px;
}

.request-button-decline {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    background-color: rgb(197, 59, 59);
    border: 1px solid rgba(65, 63, 63, 0.754);
    color: white;
    border-radius: 3px;
    padding: 5px;

}

.request-button {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 10px;
    /* background-color: rgba(88, 83, 83, 0.754); */
    border: 1px solid rgba(148, 144, 144, 0.754);
    color: white;
    border-radius: 3px;
    padding: 5px;
    margin: 10px;
}

.request-button:hover {
    background-color: rgba(88, 83, 83, 0.754);
}

.type-tag{
    background-color: rgb(0, 0, 0);
    border: 1px solid rgba(255, 255, 255, 0.671);
    color: white;
    padding: 1px 5px;
    border-radius: 5px;
    margin: 5px;
}

.requests-tile-body-desc{
    margin: 10px;
    color: rgba(255, 255, 255, 0.671);
    justify-content: center;
    text-align: center;
}