<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "../public/stylesheets/indexStyles.css">
</head>
<body>
    <form action = "" method = "post">
        <div className = "resetPassword_div" >
            <div className = "Reset_Password_head">Reset Password</div>
         <div className = "labelPassword">
            <label>Enter your new Password.</label>
         </div>
         <div className = "boxPassword">
             <input type = "password" name = "password" id = "password" /><br/>
         </div>
         <div className = "labelCnfPw">
            <label>Confirm Password</label>
         </div>
         <div className = "boxCnfPw">
             <input type = "password" name="passwordConfirm" id = "confirmPassword" /><br/>
         </div>
        <input type = "submit" value = "submit" />
    </div>

    </form>
    
</body>
</html> -->


<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <!-- <h1>This is great</h1>
    <p>Welcome to templating using EJS</p> -->
    <form action = "" method = "post">
        <div class="form-group">
          <label for="exampleInputEmail1">New Password</label>
          <input type="password" name = "password" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter New Password">
          <small id="emailHelp" class="form-text text-muted">Passwords Must have atleast 8 characters.</small>
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">Confirm New Password</label>
          <input type="password" name="passwordConfirm" class="form-control" id="exampleInputPassword1" placeholder="Confrim Password">
        </div>
        <button type="submit" class="btn btn-info" value = "submit">Submit</button>
      </form>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>